*.dll
*.pdb
VoelParradys/obj
VoelParradys/bin/Debug/ObjectListView.xml
*.exe
VoelParradys/bin/Debug/VoelParadys.exe.config
VoelParradys/bin/Debug/VoelParadys.vshost.exe.config
VoelParradys/bin/Debug/VoelParadys.vshost.exe.manifest