*.dll
*.pdb
VoelParradys/obj
VoelParradys/ThirdParty/ListViewPrinter/obj
VoelParradys/ThirdParty/ListViewPrinter/bin
VoelParradys/ThirdParty/ObjectListView/obj
VoelParradys/ThirdParty/ObjectListView/bin
VoelParradys/bin/Debug/ObjectListView.xml
*.exe
VoelParradys/bin/Debug/VoelParadys.exe.config
VoelParradys/bin/Debug/VoelParadys.vshost.exe.config
VoelParradys/bin/Debug/VoelParadys.vshost.exe.manifest
*.resources
*.cache
VoelParradys/ThirdParty/ObjectListView/obj/Debug/ObjectListView2010.csproj.FileListAbsolute.txt
VoelParradys/ThirdParty/ObjectListView/obj/Debug/ObjectListView2012.csproj.FileListAbsolute.txt
VoelParradys/ThirdParty/ObjectListView/obj/Release/ObjectListView2012.csproj.FileListAbsolute.txt
*.suo
*.suo
VoelParradys/VoelParradys.suo