*.dll
*.pdb
VoelParradys/obj
VoelParradys/bin/Debug/ObjectListView.xml
*.exe
VoelParradys/bin/Debug/VoelParadys.exe.config
VoelParradys/bin/Debug/VoelParadys.vshost.exe.config
VoelParradys/bin/Debug/VoelParadys.vshost.exe.manifest
*.resources
*.cache
VoelParradys/ThirdParty/ObjectListView/obj/Debug/ObjectListView2010.csproj.FileListAbsolute.txt
VoelParradys/ThirdParty/ObjectListView/obj/Debug/ObjectListView2012.csproj.FileListAbsolute.txt
VoelParradys/ThirdParty/ObjectListView/obj/Release/ObjectListView2012.csproj.FileListAbsolute.txt